<div class=" jp__header">
	<header class="container d-flex justify-content-center py-3">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a href="{{ path('app_home') }}" class="nav-link {{ app.current_route == 'app_home' ? 'active aria-current=" page"' : '' }}">Accueil</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_recipe_index') }}" class="nav-link {{ app.current_route == 'app_recipe_index' ? 'active aria-current=" page"' : '' }}">Recettes</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_recipe_create') }}" class="nav-link {{ app.current_route == 'app_recipe_create' ? 'active aria-current=" page"' : '' }}">Ajouter une recette</a>
			</li>
		</ul>
	</header>
</div>


{% for type, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ type }}">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}
